$font-stack: Helvetica, sans-serif;

$bgc-error: rgb(255, 4, 4);
$bgc-div: rgb(108, 255, 9);
$bgc-field: #333;
$bgc-floating: #333;

$bgc-cal-day: #333;
$bgc-cal-week: #333;
$bgc-cal-month: #333;
$bgc-cal-year: #333;

$bgc-event-priority-1: #333;
$bgc-event-priority-2: #333;
$bgc-event-priority-3: #333;
$bgc-event-priority-4: #333;
$bgc-event-priority-5: #333;
