.left-col {
  flex: 1;
}
.left-col {
  flex: 3;
}

.right-card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 50px;
}

.session-form {
  background: linear-gradient(#cfc2b7, #9bb1b8);
  border-bottom-right-radius: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 100%;
}

.form-pop {
  width: 50vw;
  height: 377px;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  position: relative;
  right: 250px;
  z-index: -1;
}

.form-box-1 {
  width: 430px;
  width: 460px;
  flex: 1;
}
.form-box-1 {
  width: 430px;
  width: 460px;
  flex: 1;
}

.form-div {
  background: #eee;
  width: 930px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 4px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 0.1px 36px 10px 36px;
  height: 44px;
  z-index: 2;
}
.form-header {
  font-size: 20px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  background-color: rgba(143, 143, 143, 0.479);
  width: 100%;
  text-align: center;
  height: 80px;
  padding: 25px;
}

.left-field {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.main-blur {
  position: absolute;
  left: 0;
  top: 179px;
  right: 0;
  bottom: 0;
  // z-index: 1;
  height: 60%;
  width: 100vw;
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(8px);
  display: none;
}

.main {
  background: #f1e3e14f;
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.background {
  // background-image: url(https://get.pxhere.com/photo/background-sunlight-abstract-blur-wallpaper-art-insubstantial-graphic-pattern-pastel-color-gradient-spectrum-bright-desktop-light-colorful-effect-vibrant-backdrop-soft-glowing-pink-close-up-sky-macro-photography-magenta-computer-wallpaper-1448493.jpg);
  height: 81vh;
  background-size: cover;
  background-position-x: center;
  position: relative;
  opacity: 0.5;
  top: -174px;
  background: #91ffdb3b;
  // background: linear-gradient(0deg, #ffb100, #ff3b00);
}

.head {
  display: flex;
  width: 100%;
  padding: 20px;
}

.main-headline {
  position: relative;
  top: 24px;
  font-family: "Sarina";
  font-size: 64px;
  color: #4077a6d1;
  text-shadow: -9px -3px 0px rgb(255 255 255 / 58%);
  border-radius: 90px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 15px 102px;
  width: 1391px;
  /* margin: auto; */
  z-index: 2;
  box-shadow: 0 12px 20px 17px rgb(255 255 255 / 81%);
  height: 81px;
  font-weight: bolder;
  right: -10px;
  background: #ece6e1;
  font-weight: 100;
}
.container {
  background: #e2dedd;
  // width: 1200px;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  border-radius: 300px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  align-items: flex-end;
}

.half-card {
  background: linear-gradient(0deg, rgb(255 255 255 / 81%), transparent);
  margin: 0px 10px;
  border-radius: 20px;
  height: 59vh;
  color: #5c5a58;
  line-height: 31px;
}

.widget-box-full {
  width: 570px;
  height: 650px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.81);
  display: flex;
  box-shadow: 0 0 9px 7px #cfc2b745;
  align-items: center;
  flex-direction: column;
}
.widget-box-narrow {
  width: 800px;
  height: 650px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.81);
  display: flex;
  box-shadow: 0 0 9px 7px #cfc2b745;
  flex-direction: column;
}

.show {
  position: fixed;
  background-color: rgba(57, 66, 66, 0.164);
  z-index: 1;
  position: absolute;
  box-shadow: 0 0 rgba(83, 83, 83, 0.253);
}
.hide {
  display: none;
}
