// .calendar {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
//   grid-template-rows: repeat(5, 1fr);
//   grid-row-gap: 1%;
//   grid-column-gap: 1%;
//   align-items: center;
// }

.cal-toggle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cal-day-full {
  font-family: "Lato";
  text-align: center;
}
// .cal-day-full:hover {
//   color: rgb(117, 111, 111);
// }
// .cal-day-full:active {
//   text-align: center;
// }

.date {
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  color: #ffffff75;
  background: #210e0e8a;
  cursor: pointer;
}
.date:hover {
  color: #ffffff75;
  background: #371d13b8;
}
.date:active {
  color: #ffffff75;
  background: #371d13ce;
}

.d0 {
  grid-column: 1;
  // background: rgb(221, 193, 142);
}
.d1 {
  grid-column: 2;
  // background: red;
}
.d2 {
  grid-column: 3;
  // background: orange;
}
.d3 {
  grid-column: 4;
  // background: yellow;
}
.d4 {
  grid-column: 5;
  // background: green;
}
.d5 {
  grid-column: 6;
  // background: blue;
}
.d6 {
  grid-column: 7;
  // background: brown;
}

/////////////

.sample-select {
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  background: #f0f8ff1a;
  text-align: right;
  border-radius: 0.5em;
  color: black;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  background-image: url("https://images.unsplash.com/photo-1616361889157-7b095931aea5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 1em 1em 0 0;
}

.sample-click {
  font-size: 22px;
  font-family: "Sarina", cursive;
  text-shadow: 2px -2px 1px #eee;
  font-size: 109px;
  cursor: pointer;
}

.sample-btn {
  border-radius: 19px;
  // padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
  background: #ff8d7e;
  width: 230px;
  height: 29px;
  cursor: pointer;
  align-self: flex-end;
  font-family: "Lato", sans-serif;
}

.hub-footer {
  position: relative;
  bottom: -3px;
}
// .shell {
//   overflow: hidden;
//   height: 100vh;
//   width: 100vw;
// }

.cal-toggle > p {
  font-size: 30px;
}

.true-28 {
  background: cadetblue;
}

.samplle-card-modal {
  background: rgb(255 255 255 / 65%);
}

::-webkit-time-picker-indicator {
  border: 2px solid black;
  display: none;
}

input.form-item[type="time"] {
  display: inline-grid;
  grid-template: 1fr / 18% 32px;
  place-content: center;
  display: relative;
  // &:after {
  //   content: "O";
  //   position: absolute;
  //   right: 150px;
  //   top: 310px;
  //   color: #7c726c;
  // }
}
