.event-list-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 1%;
}

.linebreak {
  border-bottom: 1px solid rgba(177, 163, 163, 0.589);
}

.event-card {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  // height: 167px;
  .event-card-title {
    font-weight: 300;
    color: #ded4cc;
  }
}
.event-card > li {
  font-family: "Poppins";
  font-size: 20px;
  color: #ddd3cb;
  background: linear-gradient(87deg, #866955b0, #5f281940);
  padding: 2px 0 2px 40px;
  font-weight: 100;
}

// .event-card > li:first-child {
//   font-size: 25px;
//   background: rgb(124 87 67 / 22%);
//   color: #ffffffb0;
//   padding: 10px;
//   font-weight: 400;
//   position: relative;
//   // &:after {
//   //   content: " ";
//   //   background-image: url("../../../public/calendar-times-regular.svg");
//   //   position: absolute;
//   //   right: 2%;
//   //   width: 100%;
//   //   color: white;
//   // }
// }
.event-tools {
  position: absolute;
  right: 2%;
  top: 2px;
  i:hover {
    text-shadow: 0px 0px 6px #a3b8c5;
    cursor: pointer;
  }
  .fas,
  .far {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10px;
  }
  .activated {
    text-shadow: 0px 0px 6px #a3b8c5;
  }
}

.event-editor {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, #beaba1, #b19286, #bdaaa1);
  padding: 0.5em 3em;
  display: grid;
  place-content: center;
  &:after {
    content: "";
    width: 100%;
    height: 103px;
    top: 100%;
    background: linear-gradient(87deg, #7595a145, #87a3ac33);
    position: absolute;
    outline: 1px solid #ffffff36;
    outline-offset: -5px;
  }
}

// .create-event {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   /* align-items: center; */
//   justify-content: space-evenly;
//   font-size: 31px;
//   padding: 20px;
//   font-size: 25px;
// }

.create-event > label {
  font-family: "Lato";
}

.event-edit-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  grid-gap: 6px;
  gap: 6px;
  height: 100%;
  padding-right: 0.5em;
  .form-item {
    width: -moz-available;
    border-radius: 1em;
    padding: 0.1em 1em;
    background: #ebeaeb;
    &::placeholder {
      color: #ffffff42;
    }
    &:focus {
      box-shadow: inset 0 0 30px -12px #beada4;
    }
  }

  .form-item:nth-child(1) {
    grid-column: 1/2;
    flex: 1 1 10%;
    min-width: 19ch;
  }
  .form-item:nth-child(2) {
    grid-column: 2/4;
    flex: 1 1 60%;
    min-width: 25ch;
  }
  .form-item:nth-child(3) {
    grid-column: 1/2;
    flex: 1 1 150px;
    min-width: 150px;
  }
  .form-item:nth-child(4) {
    grid-column: 1/2;
    flex: 1 1 150px;
    min-width: 150px;
  }
  .form-item:nth-child(5) {
    background-color: #695753;
    background-size: 60%;
    box-shadow: inset 0 0 100px -65px #0b0d0d2e;
    color: #ffffffba;
    flex: 1 1 30%;
    min-width: fit-content;
    font-size: 25px;
    cursor: pointer;
    font-family: "Lato", sans-serif;

    &:hover {
      box-shadow: inset 0 0 100px -65px #984b34d9;
    }
  }
}

.activated {
  color: #ffffffbf;
  text-shadow: 3px 3px 3px #385f9136;
}
