.event-list-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 1%;
}

.linebreak {
  border-bottom: 1px solid rgba(177, 163, 163, 0.589);
}

.event-card {
  font-family: sans-serif;
  font-size: 14px;
}
.event-card > li {
  font-family: "Poppins";
  font-size: 20px;
  color: #9bb1b8;
  background: linear-gradient(87deg, #5b5d58, #5f281940);
  padding: 2px 0 2px 40px;
}
.event-card > li:first-child {
  font-size: 25px;
  background: rgb(124 87 67 / 22%);
  color: #ffffffb0;
  padding: 10px;
  font-weight: 400;
  position: relative;
  // &:after {
  //   content: " ";
  //   background-image: url("../../../public/calendar-times-regular.svg");
  //   position: absolute;
  //   right: 2%;
  //   width: 100%;
  //   color: white;
  // }
}
.event-tools {
  position: absolute;
  right: 2%;
  i:hover {
    text-shadow: 0px 0px 6px #4fd4ff99;
    cursor: pointer;
  }
}

// .create-event {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   /* align-items: center; */
//   justify-content: space-evenly;
//   font-size: 31px;
//   padding: 20px;
//   font-size: 25px;
// }

.create-event > label {
  font-family: "Lato";
}
