.notifcations-shell {
  // background-image: url("https://images.unsplash.com/photo-1501622549218-2c3ef86627cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  background-size: cover;
  // background: red;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.notification-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  max-width: 721px;
  border-radius: 2em;
  overflow: hidden;
  box-shadow: 0 0 9px 7px rgb(43 40 38 / 9%);
  div {
    flex: 1 1 280px;
    padding: 6em 3em;
    text-align: center;
  }
  h1 {
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
    // color: white;
  }
  p {
    font-size: 2em;
  }
}

.notification-header {
  width: 100%;
  height: 2em;
  box-shadow: -1px -1px 0px 1px rgb(255 255 255 / 32%);
  padding: 0 0 0 20px;
  background-image: linear-gradient(271deg, #c1b6ac, #cdc0b8, #bea699);
}

.notification-headline {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Poppins";
  color: #ccbfb7;
  text-shadow: -2px 0px 0px #a6b3bc;
  font-style: italic;
}

.notification-time {
  background-image: url("../public/mainbg.jpg");
  background-size: 800px;
  h1 {
    color: #524542;
    text-shadow: -1px -1px 7px rgb(255 255 255 / 58%);
  }
}

.notification-bg {
  object-fit: cover;
}

@media screen and (orientation: portrait) {
  .notification-container {
    max-width: 400px;
  }
}
