.App {
  display: grid;
  place-content: center;
}

.splash-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
}

.splash-section {
  flex: 0 1 500px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  h3 {
    // font-size: minmax(5vw, 3em);
    font-size: min(max(16px, 3vw), 3em);
  }
}

.splash-navs > li,
.contacts {
  margin: 0 9px;
  border-right: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding-right: 0.35em;
  margin-right: 3vw;
  line-height: min(max(27px, 2.5vw), 2.5em);
}

.splash-headline {
  position: relative;
  text-shadow: 0px 2px 3px #d9c7c2;
  color: #545454;
}

.background-img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: blur(7px);
  top: 0;
}
.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  background-image: linear-gradient(to top, #99afb6 -10%, transparent 24%);
  z-index: -1;
}

.highlight {
  width: 100vw;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to top, #ffffff5c -10%, transparent);
}
